.DropDown {
  position: absolute;
  top: 110%;
  right: 2%;
  z-index: 5;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 12rem;
  height: fit-content;
  background: white; 
  padding: $margin-small;
  border-radius: 8px;
  animation: fadeIn .3s ease; 
  border: 1px solid $lightGray;
  box-shadow: 2px 4px 6px $cardShadow;
}

.DropDown__text {
  color: $mediumGray;
  &--warning {
    margin-top: $margin-tiny;
    color: $red;
  }
}

.DropDown__button-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: $margin-small;
  position: relative;
  width: 22px;
  height: 38px;
  border-radius: 10px;
  opacity: 1;
  color: $mediumGray;
  transition: background-color .2s ease,color .2s ease;
  &:hover {
    background: color(ellipsis);
  }
}