@import "../property";


.Board {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: gray;
  
  @include tablet {
    background: rgb(121, 40, 40);
  }

  @include mobile {
    background: rgb(109, 136, 199);
  }
}