
.Main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto ;
  position: relative;
  background: color(bg);

  &__showSideNavButton {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 2rem;
    color: $white;
    width:3.5rem;
    height: 3rem;
    background: $darkBlue;
    border-radius: 0 25px 25px 0;
    animation: fadeIn .3s ease-in;
    transition: background-color .2s ease;

    &:hover {
      background: $lightBlue;
    }
  }

  &::-webkit-scrollbar {
    height: .4rem;
    width: .7rem;
  }

  &::-webkit-scrollbar-track {
    background:rgba($color: #000000, $alpha: 0.3); 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: color(scroll); 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background:$darkBlue;
  }

  &::-webkit-scrollbar-corner {
    background: color(bg);
  }

  @include tablet {
  }

  @include mobile {
    overflow-x: auto !important;

  }
}