@import "../function";


.SideBar {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  background: black;
  color:  color(white);

  @include tablet {
    background: color(white);
  }

  @include mobile {
    background: purple;
  }
}