@import "../function";
@import "../property";


.SideBar {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  @include tablet {
  }

  @include mobile {
  }

  &__Logo {
    background: color(sideBar);
    height: 6rem;
    padding: $margin-large 0 6.1rem $margin-large;
  }
}
