@import "../function";
@import "../property";


.SideBar {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  background: color(sideBar);
  @include tablet {
  }

  @include mobile {
  }

  &__Logo {
    height: 6rem;
    margin: $margin-large 0 0 $margin-large;
  }
}
