@import "../property";

.SideNav {
  color: $mediumGray;
  font-weight: bold;
}

.SideNav__head {
  letter-spacing: 2.4px;
  font-size: $font-12;
  padding-left: $margin-large;
  margin-bottom: $margin-small;
}

.SideNav__tab {
  display: flex;
  align-items: center;
  padding-left: $margin-large;
  width: 17.25rem;
  height: 2.8rem;
  margin-bottom:.2rem;
  position: relative;
  background: transparent;
  transition: color .2s ease;
  color: inherit;
  & > svg {
    margin-right:$margin-small;
  }

  &::before {
    transition: background-color .1s ease;
    content: '';
    z-index:-1;
    display: flex;
    background-color: transparent;
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0 25px 25px 0;
  }

  &:hover:not(&--addNew, &--active) {
    color: $white;

    &::before {
      content: '';
      background-color: $lightBlue;

    }
  }
  &--active {
    color: $white;

    &::before {
      content: '';
      background-color: $darkBlue;

    }
  }

  &--addNew {
    color:$darkBlue;
    transition: opacity .2s ease;
    &:hover{
      opacity: .6;
    }
  }
}