//space 
$margin-small: 1rem;
$margin-medium: 1.5rem;   
$margin-large: 2rem;  

//opacity
$hover: .6; 

//font 
$font-12: 0.75rem;
$font-15: 0.9375rem; 
$font-18: 1.125rem; 
$font-19: 1.1875rem;
$font-23: 1.4375rem; 
$font-24: 1.5rem; 
$font-30: 1.875rem; 

//color 
$black: #000000;
$white: #ffffff;
$darkBlue: #635FC7;
$lightBlue: #A8A4FF;
$lightGray: #F4F7FD;
$lightGrayLine: #E4EBFA;
$mediumGray: #828FA3;
$darkGray: #2B2C37;
$darkGrayLine: #3E3F4E;
$veryDarkGray: #20212C;
$cardShadow: rgba(54, 78, 126,0.101545);


$light:(
  bg: $lightGray,
  borderLine:$lightGrayLine,
  main: $white,
  title: $black,
  board:$white,
  themeSwitchBox: $lightGray
);

$dark:(
  bg:$veryDarkGray,
  borderLine:$darkGrayLine,
  main: $darkGray,
  title: $white,
  board:$veryDarkGray,
  themeSwitchBox: $veryDarkGray
);


//device width
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (max-width:#{$tablet-width}){
    @content;
  }
}

@mixin mobile {
  @media (max-width:#{$mobile-width}){
    @content;
  }
}

