*, *:before, *:after{
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol, ul{
  list-style: none;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}