
.ViewTask {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.ViewTask__topWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $margin-tiny;
}

.ViewTask__descWrapper {
  font-size: $font-13;
  color: $mediumGray;
  line-height: 23px;
}

.ViewTask__subtaskWrapper {
  margin-top: $margin-medium;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $margin-tiny;
}

.ViewTask__sub-title {
  font-size: $font-12;
  font-weight: bold;
  color: color(subTitle);
  margin-bottom: $margin-tiny;
}

.ViewTask__noSubTask {
  font-size: $font-13;
  color: $mediumGray;
  margin-bottom: $margin-small;
}

.ViewTask__statusWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// .ViewTask__status-title {
//   font-size: $font-12;
//   font-weight: bold;
//   color: color(subTitle);
//   margin-bottom: $margin-tiny;
// }


.ViewTask__status-dropdown {
  display: flex;
}

