
.ViewTask {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: start;
  position: relative;
  word-break: break-all;
}

.ViewTask__topWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $margin-tiny;
  word-break: break-word;
}

.ViewTask__descWrapper {
  font-size: $font-13;
  color: $mediumGray;
  line-height: 23px;
  max-height: 10rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background:rgba($color: #000000, $alpha: 0.3); 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: color(scroll); 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background:$darkBlue;
  }
}

.ViewTask__subtaskWrapper {
  margin-top: $margin-medium;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $margin-tiny;
}

.ViewTask__sub-title {
  font-size: $font-12;
  font-weight: bold;
  color: color(subTitle);
  margin-bottom: $margin-tiny;
}

.ViewTask__noSubTask {
  font-size: $font-13;
  color: $mediumGray;
  margin-bottom: $margin-small;
}

.ViewTask__statusWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// .ViewTask__status-title {
//   font-size: $font-12;
//   font-weight: bold;
//   color: color(subTitle);
//   margin-bottom: $margin-tiny;
// }


.ViewTask__status-dropdown {
  display: flex;
}

