
.Card {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
  min-height: 5.5rem;
  background: color(main);
  border: 1px solid rgba($color: #868686, $alpha: 0.1);
  border-radius: 8px;
  box-shadow: 0px 4px 6px $cardShadow;
  padding: $margin-medium $margin-small;
  margin-bottom: $margin-medium;
  transition: filter .2s ease;

  cursor: grab;
  &:hover {
    filter: opacity(45%);
  }

  &:focus-visible {
    outline: 2px solid #dd9951;
  }
}

.Card__title {
  font-size: $font-15;
  font-weight: bold;
  color: color(title);
  margin-bottom: $margin-tiny;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}

.Card__count {
  font-size: $font-12;
  font-weight: bold;
  color: $mediumGray;
}