
.Launch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: color(main);
  padding: 0 $margin-large;
  border-bottom: 1px solid color(borderLine);
  color: color(title);
}

.Launch__buttons {
  display: flex;
  align-items: center;
}

.Launch__button-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: $margin-small;
  width: 22px;
  height: 38px;
  border-radius: 10px;
  opacity: 1;
  color: $mediumGray;
  transition: background-color .2s ease,color .2s ease;
  &:hover {
    background: color(ellipsis);
  }
}